.custom-container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.table-margin-top {
    margin-top: 15px;
}

.div-table {
    margin-top: 20px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #2a26267d;
    background-color: #ffffff91;
    padding: 40px;
    font-size: 12px;
    overflow: auto;
}

.div-table thead {
   text-align: center;
}

.h2-form {
    text-align: center;
    padding: 20px;
    /* border: 0.1mm solid rgb(0, 0, 0);
    border-radius: 10px; */
    font-size: x-large;
    /* box-shadow: 1px 2px 2px 1px #2a26267d; */
}

.h2-table {
    text-align: center;
    padding: 20px;
    /* border: 0.1mm solid rgb(0, 0, 0);
    border-radius: 10px; */
    font-size: x-large;
    /* box-shadow: 1px 2px 2px 1px #2a26267d; */
}
.formularios {
    padding: 30px;
    /* border: 1px solid; */
    box-shadow: 1px 1px 10px #2a26267d;
    border-radius: 10px;
    background-color: #ffffff91;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.formularios .btn-form {
    text-align: center;
}

.td-icon {
    text-align: center;
}

