.table-margin-top {
    margin-top: 15px;
    
}

.div-table {
    margin-top: 20px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #2a26267d;
    background-color: #ffffffbd;
    padding: 40px;
}

.formularios {
    padding: 20px;
    /* border: 1px solid; */
    box-shadow: 1px 1px 10px #2a26267d;
    border-radius: 10px;
    background-color: #ffffffbd;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.formularios button {
    justify-content: center;
}

.formularios .btn-form {
    text-align: center;
}